@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: var(--font-montserrat);
}

h1,
h2,
h3 {
  font-family: var(--font-caveat);
}

@layer utilities {
  .section {
    @apply pt-[40px] md:pt-[60px] lg:pt-[100px];
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
  .flex-start {
    @apply flex justify-start items-center;
  }
}

.services-slider {
  display: none;
  @media screen and (min-width: 1280px) {
    height: 504px;
  }
}

.features-slider {
  height: 386px;
  padding-bottom: 24px !important;
}

.feedback-slider {
  height: 531px;
  padding-bottom: 24px !important;
}

.gallery-slider {
  height: 424px;
  margin-bottom: 24px !important;
  @media screen and (min-width: 768px) {
    height: 460px;
  }
  @media screen and (min-width: 1280px) {
    height: 496px;
  }
}
