@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-montserrat text-[#000000];
}

h1,
h2,
h3 {
  @apply font-caveat;
}

@layer utilities {
  .section {
    @apply pt-[40px] md:pt-[60px] lg:pt-[100px];
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
  .flex-start {
    @apply flex justify-start items-center;
  }
}

.services-slider {
  margin-bottom: 24px !important;
  height: 504px;
}

.features-slider {
  height: 386px;
  margin-bottom: 24px !important;
}

.feedback-slider {
  height: 531px;
  margin-bottom: 24px !important;
}

.gallery-slider {
  height: 424px;
  margin-bottom: 24px !important;
  @media screen and (min-width: 768px) {
    height: 460px;
  }
  @media screen and (min-width: 1280px) {
    height: 496px;
  }
}
